@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Book.otf);
}

#nav-list ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}

#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ae1111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: black; 
  text-decoration: none;
} 

#links{
  color: black;
  text-decoration: none;
}

#top {
  display: none;
}

#header {
	width: 100%;
  margin-top: 85px;
  height: 500px;
	background-image: url(../images/support.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
  display: inline-block;
  position: relative;
}

#title {
	color: white;
	text-align: right;
	font-weight: bolder;
	font-size: 65px;
  font-family: 'Archivo Black', sans-serif;
  padding-right: 70px;
  line-height: 1em;
  margin-top: 350px;
}

#subtitle {
  color: white;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif
  position: absolute;
  padding-right: 195px;
  line-height: 0em;
}

#intro {
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

#summary {
  line-height: 50px;
  font-size: 23px;
  margin-top: 20px;
  font-family: Avenir;
}

#contribute {
  padding-left: 70px;
  margin-top: 50px;
}

#howto {
  color: #9e0039;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif
}

.payment {
  /*margin-top: 25px;*/
  font-size: 23px;
  line-height: 40px;
  font-family: Avenir;
}

#phone-list{
  display: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(174,17,17, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width: 575px){
  .transition{
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: cubic-bezier(0, 0.25, 0.25, 1);
  }

  #summary {
    font-size: 35px;
  }

  #nav-list{
    display: none !important;
  }

  #navbarTogglerDemo03{
    width: 100%;
    height: 100vh;
    background: white;
  }

  #navbar{
    padding:0;
  }

  #phone-list{
    visibility: visible;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    color: black;
    height: auto;
    width: 100%;
  }

  #phone-list li{
    width: 100%;
  }

  #underline-div{
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    height: 1px;
    opacity: 0.7;
  }

  #menu-button{
    padding-top: 10px;
  }

  #title-area{
    padding-top: 50px;
  }

  #header {
    width: 100%;
    margin-top: 85px;
    height: 250px;
    background-image: url(../images/support.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
  }

  #title {
    color: white;
    text-align: right;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    padding-right: 70px;
    line-height: 1em;
    margin-top: 175px;
  }

  #subtitle {
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Archivo Black', sans-serif
    position: absolute;
    padding-right: 110px;
    line-height: 0em;
  }

  #intro {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
  }
  
  #summary {
    line-height: 30px;
    font-size: 13px;
    margin-top: 15px;
    font-family: Avenir;
  }

  #contribute {
    padding-left: 35px;
    margin-top: 30px;
  }

  #howto {
    color: #9e0039;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Archivo Black', sans-serif
  }

  .payment {
    /*margin-top: 25px;*/
    font-size: 13px;
    line-height: 30px;
    font-family: Avenir;
  }

  #mobile-nav{
    text-decoration: none;
    font-size: 30px;
    padding: 0;
  }

  #header{
    margin-top: 0px;
  }

  #title {
    display: none;
  }

  #subtitle {
    display: none;
  }

  #top {
    display: inline;
  }

  #top1 {
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Archivo Black', sans-serif;
    color: #9e0039;
    line-height: 0.5em;
    margin-top: 70px;
    padding-left: 20px;
  }

  #top2 {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Archivo Black', sans-serif
    line-height: 0em;
    padding-left: 20px;
  }
}