#navbar a {
  color: black;
  text-transform: uppercase;
}

#title {
  color: #ae1111;
  font-size: 70px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1em;
}

#top {
	display: grid;
	grid-template-columns: 2fr 3fr;
	padding-top: 150px;
}

#header {
	padding-top: 65px;
	padding-left: 100px;
  text-align: right;
}

#subtitle {
  color: black;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#subtitletwo {
  color: black;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  line-height: 1em;
  border-bottom: 4px solid #ae1111;
  padding-bottom: 5px;
}

/*#underline {
	border-bottom: 4px solid #ae1111;
  padding-bottom: 5px;
  width: 100px;

}*/

#info {
	color: #ae1111;
	font-size: 30px;
	width: 85%;
	padding-left: 75px;
}