@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(100%) brightness(60%) contrast(140%);
  filter: grayscale(100%) brightness(60%) contrast(140%);
  background-size: cover;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 1;
}

#wrapper {
  height: 100vh;
}

#nav-list ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}
#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: white; 
  text-decoration: none;
} 

#links{
  color: white;
  text-decoration: none;
}

#content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  width: 100%;
}

#title {
  color: white;
  font-size: 70px;
  font-family: 'PT Sans', sans-serif;
}

form {
  text-align: center;
}

.subscribe input {
  font-family: 'Overpass Mono', sans-serif;
  width: 100%;
  padding-left: 0px;
  color: white !important;
}

.subscribe input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
.subscribe input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
.subscribe input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
.subscribe input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
.subscribe input::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

.subscribe input::placeholder { /* Most modern browsers support this now. */
   color: white;
}

.email {
  text-indent: 12px;
  border: none;
}

.submit {
  margin-top: -5px;
}

.subscribe {
  font-family: 'PT Sans', sans-serif;
  font-color: black;
  width: 265px;
  height: 35px;
  border: 3px solid white;
  border-right: 0px;
  border-top: 0px;
}

::placeholder {
  color: white;
  font-size: 15px;
}

input[type="text"] {
  background:transparent;
  color: white;
}

textarea:focus, input:focus {
  outline: none;
}

input {
  border: 0px none;
}

.mailicon {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  text-align: center;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
}

.facebook {
  display: block;
  margin-left: auto;
  padding-right: 20px;
  margin-top: 20px;
}

.youtube {
  display: block;
  margin-right: auto;
  margin-top: 20px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#phone-list{
  display: none;
}

@media screen and (max-width: 575px) {
  .transition{
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: cubic-bezier(0, 0.25, 0.25, 1);
  }
  #title{
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
  }

  #content {
    text-align: center;
    position: absolute;
    top: 10%;
    margin: auto;
    width: 100%;
    transform: translate(0,0);
  }

  #title-area{
    width: 160px;
    margin: auto;
  } 

  #social-media{
    display: none;
  }

  #nav-list{
    display: none !important;
  }


  #navbarTogglerDemo03{
    width: 100%;
    height: 100vh;
    background: black;
  }

  #navbar{
    padding:0;
  }

  #phone-list{
    visibility: visible;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    color: black;
    height: auto;
    width: 100%;
  }

  #phone-list li{
    width: 100%;
  }

  #underline-div{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    height: 1px;
    opacity: 0.7;
  }

  #menu-button{
    padding-top: 20px;
  }

  #mobile-nav{
    text-decoration: none;
    font-size: 30px;
    padding: 0;
  }

  #email-input{
    padding-top: 26%;
  }

  #mailbox{
    width: 250px;
  }

  .mailicon {
    height: 40px;
    width: 40px;
    display: block;
    padding-top: 5px;
  }
}
