@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

#nav-list ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}
#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ae1111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: black; 
  text-decoration: none;
} 

#links{
  color: black;
  text-decoration: none;
}

#header {
	width: 100%;
  margin-top: 85px;
  height: 500px;
	background-image: url("support.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  display: inline-block;
  position: relative;
}

#title {
	color: white;
	text-align: right;
	font-weight: bolder;
	font-size: 65px;
  font-family: 'Archivo Black', sans-serif;
  padding-right: 70px;
  line-height: 1em;
  margin-top: 350px;
}

#subtitle {
  color: white;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif
  position: absolute;
  padding-right: 195px;
  line-height: 0em;
}

#intro {
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

#summary {
  line-height: 40px;
  font-size: 20px;
}

#contribute {
  padding-left: 70px;
}

#howto {
  color: #9e0039;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif
}

#checks {
  font-size: 20px;
  line-height: 30px;
}

#mail {
  font-size: 20px;
  line-height: 30px;
}