body {
	color: white !important;
	background: none !important;
	border: 0;
	-webkit-filter: none;
<<<<<<< HEAD:calendar/calendar.css
    filter: none;
=======
  filter: none;
}

.details {
	color: #575757 !important;
>>>>>>> 6865c0a528a499d9d44031adc203ba56c1a6241b:calendar/calendar.css
}

#calendarTabs1, #td-print-image-id, #td-print-text-id, 
#calendarListButton1, .navSpacer, #dateMenuArrow1, #dpPopup1 {
	display: none;
}

.header {
	padding-top: 15px;
	padding-bottom: 15px;
}

.st-bg {
	font-size: 50px;
	text-align: center;
}

.today-button {
	display: none;
}

.nav-table {
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
	position: relative;
}

.date-picker-on {
	border: none;
	padding: 1px;
}

.date-picker-off {
	width: auto !important;
}

.nav-table tr {
	position: relative;
}

.date-nav-buttons {
	position: absolute;
	width: 100%;
	height: 100%;
}

.navbutton {
	padding: 0px !important;
}

.navBack {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	background-image: url(../images/left-arrow.png);
}

.navForward {
	margin: 0;
	position: absolute;
	right: 0%;
	top: 50%;
	transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	background-image: url(../images/right-arrow.png);
}

.date-top {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 420% !important;
	font-weight: normal !important;
}

.mv-daynames-table {
	background: none;
	color: white !important;
}

.mv-dayname {
	font-size: 150%;
	text-transform: uppercase;
}

.mv-event-container, .st-dtitle, .st-bg, .st-bg-today, .te {
	background: none !important;
	color: white !important;
	border: none !important;
	text-align: center !important;
}

.te {
	display: none;
	transform: translate(0%, -55%);
	-moz-transform: translate(0%, -55%);
	-webkit-transform: translate(0%, -55%);
}

.st-dtitle {
	visibility: hidden;
	font-size: 150%;
}

.st-dtitle-nonmonth {
	visibility: hidden !important;
}

.st-grid, .st-grid tr {
	height: 100%;
}

.view-cap, .view-container-border {
	background-color: transparent;
}

.footer {
	display: none;
}

.loading {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 50%;
	right: 50% !important;
	transform: translate(50%, -50%);
	-moz-transform: translate(50%, -50%);
	-webkit-transform: translate(50%, -50%);
}
