/* css for the navbar */
#nav-list ul {
  margin: 0px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;
}
#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: white; 
  text-decoration: none;
} 

#links{
  color: white;
  text-decoration: none;
}

#phone-list{
  display: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1090px){
	.title{
    font-size: 60px !important;
  }
  #month-num{
    font-size: 35px !important;
  }
  #month{
    font-size: 30px !important;
  }
  .event-month{
    font-size: 25px !important;
  }
  .event-day{
    font-size: 30px !important;
  }
  .event-text{
    font-size: 15px !important;
  }
}

@media screen and (max-width: 880px){
  .event-text{
    font-size: 13px !important;
  }
  .event-month{
    font-size: 20px !important;
  }
  .event-day{
    font-size: 25px !important;
  }
  #month-num{
    font-size: 30px !important;
  }
  #month{
    font-size: 25px !important;
  }
  .event-text{
    padding-top: 0 !important; 
  }
}

@media screen and (max-width: 575px){
  .content-center{
    flex-direction: column-reverse !important;
    transform: none !important;
  }
  .title-events{
    width: 100% !important;
  }
  #calendar{
    width: 100% !important;
    top: 0 !important;
  }
  .content-center{
    top: 0 !important;
  }
  .title{
    font-size: 50px !important;
  }
  .events{
    width: 70% !important;
  }
  #month-num{
    font-size: 25px !important;
  }
  #month{
    font-size: 20px !important;
  }
  .content-center{
    margin-bottom: 200px;
  }
  .month-row{
    height: 15% !important;
  }
  .title-events{
    margin-top: -50px !important;
  }
}

@media screen and (max-width: 575px){
  /*Here are the css for the collapsible navbar*/
  .transition{
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: cubic-bezier(0, 0.25, 0.25, 1);
  }

  #nav-list{
    display: none !important;
  }


  #navbarTogglerDemo03{
    width: 100%;
    height: 100vh;
    background: black;
  }

  #navbar{
    padding:0;
  }

  #phone-list{
    visibility: visible;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    color: white;
    height: auto;
    width: 100%;
  }

  #phone-list li{
    width: 100%;
  }

  #underline-div{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    height: 1px;
    opacity: 0.7;
  }

  #menu-button{
    padding-top: 10px;
  }

  #title-area{
    padding-top: 50px;
  }

  #mobile-nav{
    text-decoration: none;
    font-size: 30px;
    padding: 0;
  }
}

.main{
  width: 100%;
  height: 100vh;
}

.background-img{
  position: fixed;
  background-image: url('../images/calendar.jpg');
  -webkit-filter: grayscale(100%) brightness(60%) contrast(140%);
  filter: grayscale(100%) brightness(60%) contrast(140%);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.left{
  width: 45%;
  display: inline-block;
  padding-left: 5%;
}

.right{
  width: 54%;
  display: inline-block;
}

.content-center{
  width: 90%;
  margin-left: 5%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-center{
  display: flex;
}

.title{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 90px;
  color: white;
  text-align: center;
  display: inline-block;
}

.title-events{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#calendar{
  width: 55%;
  height: 450px;
  margin-top: 70px;
  display: inline-block
}

.events{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40% 40%;
  grid-row-gap: auto;
  grid-column-gap: 10px;

  color: white;

  margin-top: 70px;
  width: 320px;
}

#month{
  display: inline-block;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 400;
}

.event-display{

}
