#nav-list ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}

#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ae1111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: black; 
  text-decoration: none;
} 

#links{
  color: black;
  text-decoration: none;
}

#phone-list{
  display: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#title {
  color: #9e0039;
  font-size: 100px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1em;
}

#header {
  background-image: url("../images/about_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  display: inline-block;
  float: left;
  height: 500px;
  text-align: center;
}

#main-title{
  font-weight: 700;
  color: #9e0039;
  font-size: 60px;
}

#main-paragraph, #main-title {
  font-family: 'Roboto', sans-serif;
}

#info {
  text-align: center;
  line-height: 90%;
  width: 49%;
  margin-left: 1%;
  display: inline-block;
  height: 500px;
}

#info p {
  text-align: right;
  font-size: 0.80em;
}

#subtitle {
  color: white;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#subtitletwo {
  color: white;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  line-height: 1em;
  border-bottom: 4px solid #9e0039;
  padding-bottom: 5px;
}

.main{
  width: 86%;
  margin: auto;
  padding-top: 180px;
  display: block;
}

#photo-title{
  margin-bottom: 0;
  color: #9e0039;
}

#description {
  margin-bottom: 5px;
}

#description p {
  margin-bottom: 0px;
  line-height: 120%;
}

#top-content{
  padding-top: 110px;
  height: 100vh;
}

#top-part{
  width: 100%;
  margin: 0;
  height: 900px;
}

#bottom-bar{
  width: 100%;
  z-index: -1;
  height: 200px;
  background-color: #9e0039;
  position: absolute;
  top: 700px;
}

#content{
  width: 91%;
}

.left{
  width: 45%;
  display: inline-block;
}

.right{
  width: 45%;
  margin-left: 10%;
  display: inline-block;
}

#top-title{
  transform: translate(5%,40%);
  font-size: 120px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-weight: 600;
  z-index: 1;
  position: relative;
}

#top-img{
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
  filter: grayscale(100%);
}

#top-info{
  font-size:27px;
  line-height: 35px;
}

#top-right{
  margin-left: 9%;
  width: 45%;
}

#content .left{
  float: left;
}
.member{
  width: 100%;
  margin-bottom: 20%;
}

.member-container{
  width: 100%;
  margin-bottom: 20%;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.member-container:hover .overlay {
  opacity: 1;
}

.member-container:hover .image {
  opacity: 0.3;
}

.member-title{
  margin: 0;
  padding: 0;
  font-size: 350%;
}

.title-under{
  height: 15px;
  width: 40%;
  background: #ae1111;
  margin-bottom: 5px;
}

.title-left{
  text-align: right;
}

.title-right{
  text-align: left;
}

#underline-left{
  margin-left: 60%;
}

#underline-right{
  margin-right: 40%;
}

#titles{
  text-align: right;
  width: 78%;
  margin: auto;
}

#info{
  font-size: 23px;
}

.names{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.names li{
  list-style-type: none;
  font-size: 150%;
}

.member-container p {
  margin: -2px;
  font-size: 13px;
}

#mobile-title{
  display: none;
}

@media screen and (max-width: 766px) {
  
  .member-title{
    font-size: 180%;
  }

  #left-people{
    width: 100%;
  }

  #right-people{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .main{
    width: 95%;
  }
  
  #header {
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }
  
  #main-title{
    display: none;
  }

  #info {
    color: black;
    width: 100%;
    height: auto;
  
    padding-top: 200px;
    padding-left: 5%;
    padding-right: 5%;

    margin-left: 0;
    font-size: 16px;
  }

  #titles{
    text-align: center;
    width: 65%;
  }

  #title{
    font-size: 70px;
  }

  a{
    font-size: 11px;
  }

  #top-content{
    padding-top: 70px;
  }

  #name-container{
    width: 80% !important;
  }

  .names{
    width: 100%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px){
	#info{
    font-size: 20px;
  }

  #main-title{
    font-size: 35px;
  }

  #bottom-bar{
    padding-top: 20px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 766px){
  #info{
    font-size: 18px;
  }

  #title{
    font-size: 80px;
  }

  #main-title{
    font-size: 35px;
  }

  #bottom-bar{
    margin-top: 20px;
  }
}

@media screen and (max-width: 575px){
  /*Here is the css for the collapsible navbar*/
  .transition{
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: cubic-bezier(0, 0.25, 0.25, 1);
  }

  #nav-list{
    display: none !important;
  }

  #navbarTogglerDemo03{
    width: 100%;
    height: 100vh;
    background: white;
  }

  #navbar{
    padding:0;
  }

  #phone-list{
    overflow: hidden;
    visibility: visible;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    color: black;
    height: auto;
    width: 100%;
  }

  #phone-list li{
    width: 100%;
  }

  #underline-div{
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    height: 1px;
    opacity: 0.7;
  }

  #menu-button{
    padding-top: 10px;
  }

  #title-area{
    padding-top: 50px;
  }

  #mobile-nav{
    text-decoration: none;
    font-size: 30px;
    padding: 0;
  }

  /* end of navbar*/

  #main-title{
    display: none;
  }

  #bottom-bar{
    height: 140px;
  }

  .member-title{
    font-size: 160%;
  }

  #info{
    margin-top: -120px;
  }

  .members-img{
    margin-top: 100px;
  }

  #year{
    font-size: 100%;
  }

  .names{
    font-size: 10px;
  }

  #left-names{
    padding-left: 0;
  }

  #header{
    height: 250px;
    width: 80%;
    margin-left: 10%;
  }

  #bottom-bar{
    top: 300px;
  }

  .main{
    padding-top: 0;
  }

  #content{
    margin-top: -60px;
  }

  .overlay p{
    display: none;
  }

  .overlay h5{
    font-size: 10px;
  }

  #photo-title, #top-time{
    display: none;
  }

  #mobile-title{
    display: block;
    color: #ae1111;
    size: 30px;
    text-align: right;
    padding-right: 10%;
    font-weight: 700;
  }
}
