#nav-list ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}
#nav-list li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ae1111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav-list a:hover:after { 
  width: 100%; 
  left: 0; 
}

#nav-list a { 
  color: black; 
  text-decoration: none;
} 

#links{
  color: black;
  text-decoration: none;
}

#title {
  color: #9e0039;
  font-size: 100px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1em;
}

#header {
  background-image: url("../images/about_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  display: inline-block;
  float: left;
  height: 500px;
  text-align: center;
  padding-top: 150px;
}

#info {
  background-color: #9e0039;
  color: white;
  width: 49%;
  margin-left: 1%;
  display: inline-block;
  height: 500px;

  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

#info p {
  font-size: 0.85em;
}

#subtitle {
  color: white;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#subtitletwo {
  color: white;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  line-height: 1em;
  border-bottom: 4px solid #9e0039;
  padding-bottom: 5px;
}

.main{
  width: 86%;
  margin: auto;
  padding-top: 100px;
  display: block;
}

#content{
  width: 91%;
}

.left{
  width: 45%;
  display: inline-block;
}

.right{
  width: 45%;
  margin-left: 10%;
  display: inline-block;
}

#top-title{
  transform: translate(5%,40%);
  font-size: 120px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-weight: 600;
  z-index: 1;
  position: relative;
}

#top-img{
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
  filter: grayscale(100%);
}


#top-info{
  font-size:27px;
  line-height: 35px;
}

#top-right{
  margin-left: 9%;
  width: 45%;
}

#content .left{
  float: left;
}
.member{
  width: 100%;
  margin-bottom: 20%;
}

.member-container{
  width: 100%;
  margin-bottom: 20%;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.member-container:hover .overlay {
  opacity: 1;
}

.member-container:hover .image {
  opacity: 0.3;
}
.member-title{
  margin: 0;
  padding: 0;
  font-size: 350%;
}

.title-under{
  height: 15px;
  width: 40%;
  background: #ae1111;
  margin-bottom: 5px;
}

.title-left{
  text-align: right;
}

.title-right{
  text-align: left;
}

#underline-left{
  margin-left: 60%;
}

#underline-right{
  margin-right: 40%;
}

#titles{
  text-align: right;
  width: 78%;
  margin: auto;
}

#info{
  font-size: 23px;
}

.names{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.names li{
  list-style-type: none;
  font-size: 150%;
}

.member-container p {
  margin: -2px;
  font-size: 13px;
}

@media screen and (max-width: 766px) {
  #left-people{
    width: 100%;
  }

  #right-people{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .main{
    width: 95%;
  }
  #header {
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }
  
  #info {
    background-color: #9e0039;
    color: white;
    width: 100%;
    height: auto;
  
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;

    margin-left: 0;
    font-size: 16px;
  }

  #titles{
    text-align: center;
    width: 65%;
  }

  #title{
    font-size: 70px;
  }

  a{
    font-size: 11px;
  }

  #top-content{
    padding-top: 70px;
  }
}

.members-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
}

@media screen and (max-width: 1300px) and (min-width: 1000px){
	#info{
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 766px){
  #info{
    font-size: 18px;
  }

  #title{
    font-size: 80px;
  }
}

